<!-- <div class="col-md-12"> -->
    <form action="" method="POST" role="form">

        <div class="form-group">
            <label for="">Họ và tên</label>
            <input type="text" class="form-control border-input" ng-model="user.fullname">
        </div>

        <div class="form-group">
            <label for="">Số điện thoại cần tư vấn</label>
            <input type="text" class="form-control border-input" ng-model="user.phone">
        </div>

        <div class="form-group">
            <label for="">Bạn đang sinh sống ở đâu</label>
            <select class="form-control border-input" ng-model="user.address">
                <option ng-repeat="item in address" value="{{ item.id }}">{{ item.name }}</option>
            </select>
        </div>

        <!-- <div class="form-group">
            <label for="">Mức lương thực nhận</label>
            <input type="text" class="form-control border-input" format="number" ng-model="user.salary">
        </div>

        <div class="form-group">
            <label for="">Hình thức nhận lương</label>
            <select name="" id="input" class="form-control border-input" ng-model="user.typeReceive">
                <option ng-repeat="item in typeReceive" value="{{ item.id }}">{{ item.name }}</option>
            </select>
        </div> -->

        <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="register()">Đăng ký</button>
    </form>
<!-- </div> -->
