<!doctype html>
<html lang="en" ng-app="app" ng-controller="controller" ng-cloak>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Credit Panel - Vay tín chấp, làm thẻ tín dụng</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">Credit Panel</a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="ti-headphone-alt"></i>
                        <p>Đăng ký tư vấn</p>
                    </a>
                </li>
                <li>
                    <a href="/lien-he.html">
                        <i class="fa fa-phone"></i>
                        <p>Liên hệ trực tiếp</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/bang-tinh-lai-suat.html">
                        <i class="fa fa-calculator"></i>
                        <p>Bảng tính lãi suất</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="/">Bảng tính lãi suất</a>
                </div>
                <div class="collapse navbar-collapse"><!--side bar--></div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="header">
                                <h4 class="title">Tính lãi suất theo dự nợ giảm dần</h4><br>
                                <p class="category">Vui lòng nhập đầy đủ các thông tin bên dưới để biết tổng số tiền bạn sẽ trả góp hàng tháng.</p>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div ng-include="'/template/calculate.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" ng-show="tableLend.length">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th><strong>Kỳ thanh toán</strong></th>
                                        <th><strong>Gốc</strong></th>
                                        <th><strong>Lãi</strong></th>
                                        <th><strong>Tổng gốc + lãi</strong></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in tableLend">
                                            <td>{{ item.ky }}</td>
                                            <td>{{ item.goc | number }}</td>
                                            <td>{{ item.lai | number }}</td>
                                            <td>{{ item.goc + item.lai | number }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/lien-he.html">Liên hệ</a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="/">Credit panel</a>
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="loading" ng-if="show_loading"><div class="gif"></div></div>
</body>
    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="assets/js/bootstrap-checkbox-radio.js"></script>
    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>
    <script src="assets/js/paper-dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
    <script>
        var _0x925f=["\x41\x49\x7A\x61\x53\x79\x41\x4D\x45\x4A\x66\x71\x4F\x4B\x75\x67\x6F\x4D\x32\x59\x67\x59\x49\x61\x45\x69\x7A\x38\x61\x53\x65\x45\x30\x5F\x4C\x6C\x74\x4D\x51","\x74\x61\x6C\x6B\x2D\x69\x6E\x2D\x74\x65\x72\x6D\x69\x6E\x61\x6C\x2E\x66\x69\x72\x65\x62\x61\x73\x65\x61\x70\x70\x2E\x63\x6F\x6D","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x74\x61\x6C\x6B\x2D\x69\x6E\x2D\x74\x65\x72\x6D\x69\x6E\x61\x6C\x2E\x66\x69\x72\x65\x62\x61\x73\x65\x69\x6F\x2E\x63\x6F\x6D","\x74\x61\x6C\x6B\x2D\x69\x6E\x2D\x74\x65\x72\x6D\x69\x6E\x61\x6C","\x74\x61\x6C\x6B\x2D\x69\x6E\x2D\x74\x65\x72\x6D\x69\x6E\x61\x6C\x2E\x61\x70\x70\x73\x70\x6F\x74\x2E\x63\x6F\x6D","\x34\x38\x31\x35\x31\x32\x39\x30\x37\x33\x36\x34","\x69\x6E\x69\x74\x69\x61\x6C\x69\x7A\x65\x41\x70\x70"];firebase[_0x925f[6]]({apiKey:_0x925f[0],authDomain:_0x925f[1],databaseURL:_0x925f[2],projectId:_0x925f[3],storageBucket:_0x925f[4],messagingSenderId:_0x925f[5]})
        var app = angular.module('app', ['firebase', 'ngSanitize']);
    </script>
    <script src="/assets/script/config.js"></script>
    <script src="/assets/script/controller.js"></script>
    <script src="/assets/script/directive.js"></script>
</html>